{%- if product.metafields.custom_fields["variant_leadtimeinteger"] != blank -%}
{%- assign selected_variant = product.selected_or_first_available_variant -%}
<script src="{{ 'moment.js' | asset_url }}"></script>
<div>
  <span onclick="ga('send', 'event', 'PDP Links', 'click', 'Estimated Delivery Modal');" class='product-form__option-name text--strong' data-tooltip="Click for more information" data-micromodal-trigger="modal-delivery" style='display: inline-block; margin-bottom: 0px;'>Estimated Delivery:</span>
  <div style='font-size: 16px; display: inline-block;' id='variant_leadtime_{{ selected_variant.id }}' data-leadtime='{{ product.metafields.custom_fields["variant_leadtimeinteger"] }}'></div>
</div>

<script>
  (function(){
    var date = moment();
    var holidays = ['2020-01-01', '2020-01-20', '2020-02-17', '2020-05-25',  '2020-07-03', '2020-09-07', '2020-11-26', '2020-11-27', '2020-12-25']; // Can override CMS dates by manually inputing dates here

    var range = "";
    var parcelrange = 7;
    var freightrange = 14;
    
    var id = variant_leadtime_{{ selected_variant.id }};
    var standardShip = {{ product.metafields.custom_fields["variant_leadtimeinteger"] }} + 1;
    console.log("standardShip = " + standardShip);

    if (standardShip < 7) {
      range = 9;
      {% for tag in product.tags %}
      {% if tag contains 'LTL' %}
      range = freightrange;
      {% break %}{% endif %}
      {% endfor %}

      console.log("actual range = " + range);

    } else if (standardShip >= 7 && standardShip < 8) {
      range = parcelrange;
      {% for tag in product.tags %}
      {% if tag contains 'LTL' %}
      range = freightrange;
      {% break %}{% endif %}
      {% endfor %}

      console.log("actual range = " + range);

    } else if (standardShip >= 8 && standardShip < 23)  {
      range = parcelrange;
      {% for tag in product.tags %}
      {% if tag contains 'LTL' %}
      range = freightrange;
      {% break %}{% endif %}
      {% endfor %}

      console.log("actual range = " + range);

    } else if (standardShip >= 23 && standardShip < 70) {
      range = parcelrange;
      {% for tag in product.tags %}
      {% if tag contains 'LTL' %}
      range = freightrange;
      {% break %}{% endif %}
      {% endfor %}

      console.log("actual range = " + range);

    } else if (standardShip >= 70 && standardShip <= 106) {
//       standardShip = 70
      range = parcelrange;
      {% for tag in product.tags %}
      {% if tag contains 'LTL' %}
      range = freightrange;
      {% break %}{% endif %}
      {% endfor %}

      console.log("actual range = " + range);

    } else {
      range = 50;

    };

    var standardDate = addDays(date, standardShip); // -1 so that we get the date of the last shipping day not the day after

    var endStandardRange = addDays(standardDate, range);   

    var formatStartRange = standardDate.format('MMMM Do');
    var formatEndRange = endStandardRange.format('MMMM Do');

    console.log("etd range = " + formatStartRange + " to " + formatEndRange);
    var actualEtd = formatStartRange + " to " + formatEndRange;
    console.log(actualEtd);
    var placement = document.getElementById('variant_leadtime_{{ selected_variant.id }}');
                                            placement.innerHTML = actualEtd;

                                            //   $('#fromDate').html( standardDate.format('MMMM Do') );
                                            //   $('#toDate').html( endStandardRange.format('MMMM Do') );
                                            $('#etd').val(actualEtd);


    function addDays(date, days) {
      date = moment(date); // get new instance of date
      while (days > 0) {
        date = date.add(1, 'days');
        var isodate = date.format('YYYY-MM-DD');

        // decrease "days" only if it's a sunday or holiday        
        if (

            $.inArray(isodate, holidays) == -1) {  
          days -= 1;


        }

      }
      //alert(date.format('YYYY-MM-DD'));
      return date;
    };
  })();
</script>

{%- else -%}
<script src="{{ 'moment.js' | asset_url }}"></script>
<div class='product-form__option-name text--strong' onclick="ga('send', 'event', 'PDP Links', 'click', 'Estimated Delivery Modal');" data-tooltip="Click for more information" data-micromodal-trigger="modal-delivery" style='display: inline-block; margin-bottom: 0px;'><span>Estimated Delivery:&nbsp;</span></div>
{%- assign selected_variant = product.selected_or_first_available_variant -%}
{%- assign machine = shop.metafields.custom_fields["variant_fields"] | split: "|" -%}
<div class="variant-custom-fields-wrapper" style='display: inline-block;max-height: 40px;'>
  {%- for variant in product.variants -%}

  <div class="variant-custom-fields" data-variant-id="{{ variant.id }}">
    <div class="variant__cf">
      {% if machine != blank %}
      {% for info in machine %}
      {% assign machine_item = info | split: '='%}
      {% assign human_name = machine_item[0] %}
      {% assign machine_name = machine_item[1] %}
      {% if variant.metafields.custom_fields[machine_name] != blank %}
      
      {% if machine_name == 'variant_leadtimeinteger' %}

      <div>
<!--         <span class='product-form__option-name text--strong' data-tooltip="Click for more information" data-micromodal-trigger="modal-delivery" style='display: inline-block;'>{{ human_name }}:</span> -->
        <div style='font-size: 16px; display: inline-block;' id='variant_leadtime_{{ variant.id }}' data-leadtime='{{ variant.metafields.custom_fields[machine_name] }}'></div>
      </div>

      <script>
        (function(){
          var date = moment();
          var holidays = ['2020-01-01', '2020-01-20', '2020-02-17', '2020-05-25',  '2020-07-03', '2020-09-07', '2020-11-26', '2020-11-27', '2020-12-25']; // Can override CMS dates by manually inputing dates here

          var range = "";
          var parcelrange = 7;
          var freightrange = 14;
          
          var id = variant_leadtime_{{ variant.id }};
          var standardShip = {{ variant.metafields.custom_fields[machine_name] }} + 1;
          console.log("standardShip = " + standardShip);

          if (standardShip < 7) {
            range = 9;
            {% for tag in product.tags %}
            {% if tag contains 'LTL' %}
            range = freightrange;
            {% break %}{% endif %}
            {% endfor %}
            
            console.log("actual range = " + range);

          } else if (standardShip >= 7 && standardShip < 8) {
//             range = 6;
            range = parcelrange;
            {% for tag in product.tags %}
            {% if tag contains 'LTL' %}
            range = freightrange;
            {% break %}{% endif %}
            {% endfor %}
            
            console.log("actual range = " + range);

          } else if (standardShip >= 8 && standardShip < 23)  {
//             range = 13;
            range = parcelrange;
            {% for tag in product.tags %}
            {% if tag contains 'LTL' %}
            range = freightrange;
            {% break %}{% endif %}
            {% endfor %}
            
            console.log("actual range = " + range);

          } else if (standardShip >= 23 && standardShip < 70) {
//             range = 20;
            range = parcelrange;
            {% for tag in product.tags %}
            {% if tag contains 'LTL' %}
            range = freightrange;
            {% break %}{% endif %}
            {% endfor %}
            
            console.log("actual range = " + range);

          } else if (standardShip >= 70 && standardShip <= 106) {
            standardShip = 70
//             range = 40;
            range = parcelrange;
            {% for tag in product.tags %}
            {% if tag contains 'LTL' %}
            range = freightrange;
            {% break %}{% endif %}
            {% endfor %}
            
            console.log("actual range = " + range);

          } else {
            range = 50;

          };

          var standardDate = addDays(date, standardShip); // -1 so that we get the date of the last shipping day not the day after

          var endStandardRange = addDays(standardDate, range);   

          var formatStartRange = standardDate.format('MMMM Do');
          var formatEndRange = endStandardRange.format('MMMM Do');

          console.log("etd range = " + formatStartRange + " to " + formatEndRange);
          var actualEtd = formatStartRange + " to " + formatEndRange;
          console.log(actualEtd);
          var placement = document.getElementById('variant_leadtime_{{ variant.id }}');
                                                  placement.innerHTML = actualEtd;

                                                  //   $('#fromDate').html( standardDate.format('MMMM Do') );
                                                  //   $('#toDate').html( endStandardRange.format('MMMM Do') );
                                                  $('#etd').val(actualEtd);


          function addDays(date, days) {
            date = moment(date); // get new instance of date
            while (days > 0) {
              date = date.add(1, 'days');
              var isodate = date.format('YYYY-MM-DD');

              // decrease "days" only if it's a sunday or holiday        
              if ( 

                  $.inArray(isodate, holidays) == -1) {  
                days -= 1;


              }

            }
            //alert(date.format('YYYY-MM-DD'));
            return date;
          };
        })();
      </script>

      {% endif %}
      
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
  </div>
  {%- endfor -%}
</div>

{%- endif -%}